services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./app/models:/app/app/models
      - ./static:/app/static
      - ./templates:/app/templates
    environment:
      - FLASK_ENV=development
      - PYTHONUNBUFFERED=1